name: Publish to PyPI

on:
  release:
    types:
      - published

jobs:
  publish:
    environment:
      name: pypi-release
      url: https://pypi.org/p/tailscale-api
    name: Publish to PyPI
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Build and publish the package
        run: sh ci/build-and-publish.sh
